body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

table{
    margin-top: 50px;
    border: solid 2px black;
    font-family: sans-serif;
}


th{
    border: solid 1px black;
}

th, td, tr{
    padding: 8px 12px;
}

#readCell:hover{
cursor: pointer;
}

td[data]{
    cursor: pointer;
}